<!--<pre>{{PicksAndBansS7|team1= |team2= |team1score= |team2score= |winner= 
|blueban1=      |redban1=
|blueban2=      |redban2=
|blueban3=      |redban3=
|bluepick1=     |bluepick1role=
                                           |redpick1=    |redpick1role=
                                           |redpick2=    |redpick2role=
|bluepick2=     |bluepick2role=
|bluepick3=     |bluepick3role=
                                           |redpick3=    |redpick3role=
|blueban4=     |redban4=
|blueban5=     |redban5=
                                           |redpick4=    |redpick4role=
|bluepick4=     |bluepick4role=
|bluepick5=     |bluepick5role=
                                           |redpick5=    |redpick5role=
}}
</pre>
-->
<div class="row">
	<!-- team 1 side -->
	<div class="col-md-3">
		<div class="form-group">
			<label for="input-team-1" class="control-label">Team 1</label>
			<input id="input-team-1" type="text" class="form-control" ng-model="teamA" />
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="input-score-team-1" class="control-label">Score</label>
			<input id="input-score-team-1" type="number" class="form-control" ng-model="scoreTeamA" />
		</div>
	</div>
	<!-- team 2 side -->
	<div class="col-md-3">
		<div class="form-group">
			<label for="input-team-2" class="control-label">Team 2</label>
			<input id="input-team-2" type="text" class="form-control" ng-model="teamB" />
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<label for="input-score-team-2" class="control-label">Score</label>
			<input id="input-score-team-2" type="number" class="form-control" ng-model="scoreTeamB" />
		</div>
	</div>
</div>
<!-- bans -->
<div class="row form-inline">
	<div class="col-md-3 text-center">
		<h3>Bans Team 1</h3>
		<div ng-repeat="n in bansPerTeam track by $index">
			<label for="ban-{{n}}-team-1" class="control-label">Ban {{n}}</label>
			<input id="ban-{{n}}-team-1" type="text" class="form-control" ng-model="blueBans[n]" />
		</div>
	</div>
	<div class="col-md-3 text-center">
		<h3>Picks Team 1</h3>
		<div ng-repeat="n in playersPerTeam track by $index">
			<label for="ban-{{n}}-team-1" class="control-label">Pick {{n}}</label>
			<input id="pick-{{n}}-team-1" type="text" class="form-control" ng-model="bluePicks[n]" />
		</div>
	</div>
	<div class="col-md-3 text-center">
		<h3>Bans Team 2</h3>
		<div ng-repeat="n in bansPerTeam track by $index">
			<label for="ban-{{n}}-team-2" class="control-label">Ban {{n}}</label>
			<input id="ban-{{n}}-team-2" type="text" class="form-control" ng-model="redBans[n]" />
		</div>
	</div>
	<div class="col-md-3 text-center">
		<h3>Picks Team 2</h3>
		<div ng-repeat="n in playersPerTeam track by $index">
			<label for="ban-{{n}}-team-2" class="control-label">Ban {{n}}</label>
			<input id="ban-{{n}}-team-2" type="text" class="form-control" ng-model="redPicks[n]" />
		</div>
	</div>
</div>
<!-- picks -->

<!-- end -->
<div class="row">
	<div class="col-md-12">
		<label for="match-history-output" class="control-label">Output</label>
		<textarea id="match-history-output" class="form-control" ng-model="output" rows="10">
		</textarea>
	</div>
</div>