<!--<pre>{{PicksAndBansS7|team1= |team2= |team1score= |team2score= |winner= 
|blueban1=      |redban1=
|blueban2=      |redban2=
|blueban3=      |redban3=
|bluepick1=     |bluepick1role=
                                           |redpick1=    |redpick1role=
                                           |redpick2=    |redpick2role=
|bluepick2=     |bluepick2role=
|bluepick3=     |bluepick3role=
                                           |redpick3=    |redpick3role=
|blueban4=     |redban4=
|blueban5=     |redban5=
                                           |redpick4=    |redpick4role=
|bluepick4=     |bluepick4role=
|bluepick5=     |bluepick5role=
                                           |redpick5=    |redpick5role=
}}
</pre>
-->
<pre>
{{teams | json}}
</pre>
<div class="row">
    <div ng-repeat="team in teams track by $index">
        <div class="col-md-3">
            <div class="form-group">
                <label for="input-team-{{$index+1}}" class="control-label">Team {{$index+1}}</label>
                <input id="input-team-{{$index+1}}" type="text" class="form-control" ng-model="team.name" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="input-score-team-{{$index+1}}" class="control-label">Score</label>
                <input id="input-score-team-{{$index+1}}" type="number" class="form-control" ng-model="team.score" />
            </div>
        </div>
    </div>
</div>
<!-- bans -->
<div class="row form-inline">
    <div ng-repeat="team in teams" ng-init="teamIndex = $index+1">
        <div class="col-md-3 text-center">
            <h3>Bans Team {{teamIndex}}</h3>
            <div ng-repeat="n in bansPerTeam track by $index">
                <label for="ban-{{n}}-team-{{teamIndex}}" class="control-label">Ban {{n}}</label>
                <input id="ban-{{n}}-team-{{teamIndex}}" type="text" class="form-control" ng-model="team.bans[n-1]" />
            </div>
        </div>
        <div class="col-md-3 text-center">
            <h3>Picks Team {{teamIndex}}</h3>
            <div ng-repeat="n in playersPerTeam track by $index">
                <label for="ban-{{n}}-team-{{teamIndex}}" class="control-label">Pick {{n}}</label>
                <input id="pick-{{n}}-team-{{teamIndex}}" type="text" class="form-control" ng-model="team.picks[n-1]" />
            </div>
        </div>
    </div>
</div>

<!-- end -->
<div class="row">
	<div class="col-md-12">
		<label for="match-history-output" class="control-label">Output</label>
		<textarea id="match-history-output" class="form-control" ng-model="output" rows="10">
		</textarea>
	</div>
</div>